---
import Layout from "../layout/Layout.astro";
import Link from "../components/Link.astro";
import Highlight from "../components/Highlight.astro";
---

<Layout title="About this project">
  <div aria-labelledby="about">
    <p>You're still around? I'm glad.</p>
    <p>
      I originally created this <i>"blogfolio"</i> as a hands-on project while learning
      <Link href="https://astro.build/">Astro</Link>.
    </p>
    <p>
      Here I will practice my writing skills, expand on <Link
        href="/blog/my-philosophy">my philosophy as a developer</Link
      > and, why not, share some thoughts about life.
    </p>
    <p>Enjoy your stay!</p>
    <br />
    <div role="region" aria-labelledby="tip-vim-motions">
      <Highlight type="tip"
        ><em id="tip-vim-motions">Tip:</em> You can navigate the sidebar using a
        limited set of vim motions like <kbd>j</kbd>, <kbd>k</kbd> and <kbd
          >o</kbd
        ></Highlight
      >
    </div>
  </div>
</Layout>

<style lang="scss">
  @import "../styles/variables.scss";

  strong {
    margin-right: 10px;
  }

  kbd {
    color: $accent-light;
    border-radius: 3px;
    padding: 0.25em 0.42em;
    white-space: nowrap;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
  }
</style>
