---
import { getCollection } from "astro:content";
import { formatDate } from "../utils/utils";
import type { UILocale } from "../utils/utils";
import Layout from "../layout/Layout.astro";
import BlogPost from "../components/BlogPost.astro";

const posts = await getCollection("blog");
const locale = Astro.currentLocale;
---

<Layout title="Blog">
  <div aria-labelledby="blog">
    <ul>
      {
        posts.map((post) => {
          return (
            <BlogPost
              href={`/blog/${post.slug}`}
              title={post.data.title}
              date={formatDate(locale as UILocale, post.data.pubDate)}
            />
          );
        })
      }
    </ul>
  </div>
</Layout>

<style lang="scss">
  ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
</style>
