---
import Layout from "../layout/Layout.astro";

const names = ["intruder", "curious soul", "traveller"];
const randomName = names[Math.floor(Math.random() * names.length)];
---

<Layout title="mgastonportillo">
  <h1 class="welcome">welcome, <code>{randomName}</code></h1>
  <p>
    <strong>Gale here</strong>. Although some weird people call me Gastón.
  </p>
  <br /><br />
  <p>
    I'm a <strong>creative web developer</strong> focused on building respectful
    yet engaging user experiences. <br />
    Inspired by <a href="https://calmtech.com/">calm technology principles</a>,
    I strive for <strong>efficient communication</strong>
    through a balance of animations, 3D visuals, clear design, and intuitive navigation.
  </p>
  <br /><br />
  <h1 class="plus-equal">Gorgeous visuals + Repectful UX = ❤️</h1>
</Layout>

<style>
  h1.welcome {
  }

  h1 code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }

  .plus-equal {
    text-align: center;
  }

  p strong {
    color: rgb(var(--accent-light));
  }
</style>
