---
import Layout from "../layout/Layout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import sparkles from "../assets/img/sparkles.png";
---

<Layout title="mgastonportillo">
  <div aria-labelledby="home">
    <h1 class="welcome">
      welcome, <code id="visitor-alias"></code>
    </h1>
    <p>
      I'm <strong>Gale</strong> (though most call me Gastón).
    </p>
    <br />
    <p>
      A <strong>creative web developer</strong> commited to build experiences that
      <strong>delight without distraction</strong>.
    </p>
    <p>
      Inspired by
      <Link href="https://calmtech.com/"> calm technology principles</Link>, I
      design websites that feature intuitive navigation and are respectful to
      the user, while still leaving room for magic.
    </p>
    <br />
    <h1 class="plus-equal">
      Gorgeous UI&nbsp; + &nbsp;Mindful UX&nbsp; =&nbsp;
      <span class="sparkles">
        <Image loading="eager" src={sparkles} alt="Sparkles" />
      </span>
    </h1>
  </div>
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const aliases = ["sojourner", "traveller", "stargazer", "space cowboy"];
    const visitorAlias = document.querySelector("#visitor-alias");
    let randomAlias = aliases[Math.floor(Math.random() * aliases.length)];

    if (visitorAlias) {
      visitorAlias.innerHTML = randomAlias;
    }
  });
</script>

<style lang="scss">
  @import "../styles/mixins.scss";

  .waving-hand img,
  .sparkles img {
    vertical-align: middle;
    height: 3rem;
    width: 3rem;
    padding-bottom: 8px;
  }

  h1 code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba($accent-light, 12%);
    color: $accent-light;
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }

  .plus-equal {
    text-align: center;
  }

  p strong {
    @include accent-gradient(0deg);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: background 10s ease infinite;
  }
</style>
