---
import Layout from "../layout/Layout.astro";
import Link from "../components/Link.astro";
---

<Layout title="mgastonportillo">
  <h1 class="welcome">
    welcome, <code id="visitor-alias"></code>
  </h1>
  <p>
    <strong>Gale here</strong>. Although some people call me Gastón.
  </p>
  <br /><br />
  <p>
    I'm a <strong>creative web developer</strong> who cares about building respectful
    yet engaging user experiences.
  </p>
  <p>
    Inspired by <Link href="https://calmtech.com/"
      >calm technology principles</Link
    >, I strive for <strong>efficient communication</strong>
    through a balance of animations, 3D visuals, clear design, and intuitive navigation.
  </p>
  <br /><br />
  <h1 class="plus-equal">
    Gorgeous visuals&nbsp; + &nbsp;Repectful UX &nbsp;= ✨
  </h1>
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const aliases = ["curious soul", "traveller", "space cowboy"];
    const visitorAlias = document.querySelector("#visitor-alias");
    let randomAlias = aliases[Math.floor(Math.random() * aliases.length)];

    if (visitorAlias) {
      visitorAlias.innerHTML = randomAlias;
    }
  });
</script>

<style>
  h1 code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }

  .plus-equal {
    text-align: center;
  }

  p strong {
    background: var(--accent-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: background 10s ease infinite;
  }
</style>
