---
import Layout from "../layout/Layout.astro";
import Link from "../components/Link.astro";
import GreetingsAlias from "../components/GreetingsAlias.astro";
import GluedComma from "../components/GluedComma.astro";
import PlusEqual from "../components/PlusEqual.astro";
---

<Layout title="mgastonportillo">
  <div aria-labelledby="home">
    <h1 class="welcome">welcome, <GreetingsAlias /></h1>

    <p>
      I'm <em>Gale</em> (though most call me Gastón).
    </p>

    <br />
    <p>
      A <em>creative web developer</em> commited to build experiences that
      <em>delight without distraction</em>.
    </p>

    <p>
      Inspired by
      <Link href="https://calmtech.com/">calm technology principles</Link>
      <GluedComma /> I design websites that feature intuitive navigation and are
      respectful to the user, while still leaving room for magic.
    </p>

    <PlusEqual />
  </div>
</Layout>

<style lang="scss">
  @import "../styles/mixins.scss";

  em {
    @include accent-gradient(0deg);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: background 10s ease infinite;
  }
</style>
