---
import Layout from "../layout/Layout.astro";
import Link from "../components/Link.astro";
---

<Layout title="Links">
  <div aria-labelledby="links">
    <Link href={Astro.url.pathname}>Recursive link?</Link>
  </div>
</Layout>

<style></style>
