---
import Layout from "../layout/Layout.astro";
import Link from "../components/Link.astro";
import { links } from "../utils/links";
---

<Layout title="Useful links">
  <div class="links-wrapper" aria-labelledby="links">
    <ul>
      {
        links.map(({ title, href }) => (
          <li>
            <p>{title}</p>
            <Link href={href} empty="true" />
          </li>
        ))
      }
    </ul>
  </div>
</Layout>

<style lang="scss">
  .links-wrapper {
    min-width: 100%;
  }
</style>

<style is:inline>
  .links-wrapper a {
    text-decoration: none;

    .text {
      font-size: 1.3rem;
      transition: 0.3s ease;
      color: $accent-light-alt;
      text-decoration: underline;
    }

    &:hover .text {
      color: $accent-alt;
    }
  }

  ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;

    li {
      color: white;
      padding-bottom: 0.75em;
      border-bottom: 1px solid rgba(white, 0.05);

      p {
        margin-block: 0;
        line-height: 1;
      }

      &:last-child {
        border-bottom: none;
      }

      &::marker {
        content: "";
        display: none;
      }
    }
  }

  [data-empty-link-text="true"]::before {
    content: attr(href);
  }
</style>
