---
import Layout from "../layout/Layout.astro";
import Link from "../components/Link.astro";
import { links } from "../utils/links";
---

<Layout title="Useful links">
  <div class="links-wrapper" aria-labelledby="links">
    <ul>
      {
        links.map(({ title, href }) => (
          <li>
            <p>{title}</p>
            <Link href={href} icon="true" empty="true" />
          </li>
        ))
      }
    </ul>
  </div>
</Layout>

<style lang="scss">
  .links-wrapper {
    min-width: 100%;

    ul {
      padding-left: 0;
      display: flex;
      flex-direction: column;
      gap: 1em;

      li {
        color: white;
        padding-bottom: 0.75em;
        border-bottom: 1px solid rgba(white, 0.05);
        list-style-type: none;

        &:last-child {
          border-bottom: none;
        }

        &::marker {
          content: "";
          display: none;
        }

        p {
          margin-block: 0;
          line-height: 1;
        }
      }
    }
  }
</style>

<style is:global>
  .links-wrapper {
    a {
      text-decoration: none;

      .text {
        font-size: 1.3rem;
        transition: 0.3s ease;
        color: $accent-light-alt;
        text-decoration: underline;
      }

      &:hover .text {
        color: $accent-alt;
      }
    }
  }
</style>
