---
import Link from "../components/Link.astro";

const { href, text, date } = Astro.props;
---

<li>
  <span>{date}</span><Link href={href} icon="true">{text}</Link>
</li>

<style lang="scss">
  @import "../styles/variables.scss";
  @import "../styles/mixins.scss";

  li {
    color: white;
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgba(white, 0.05);
    list-style-type: none;

    &:last-child {
      border-bottom: none;
    }

    &::marker {
      content: "";
      display: none;
    }

    span {
      color: darkgrey;
      margin-right: 1rem;

      @include respond-to(sm) {
        display: block;
      }
    }
  }
</style>
