---
import Link from "../components/Link.astro";

const { href, title, date } = Astro.props;
---

<li>
  <span>{date}</span><Link href={href}>{title}</Link>
</li>

<style lang="scss">
  @import "../styles/variables.scss";

  li {
    color: white;
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgba(white, 0.05);

    &:last-child {
      border-bottom: none;
    }

    &::marker {
      content: "";
      display: none;
    }

    span {
      color: darkgrey;
      margin-right: 1rem;
    }
  }
</style>
