---
interface Props {
  type: "info" | "warn" | "generic";
  style: "red" | "green" | "blue" | "yellow" | "purple";
}

const { style, type } = Astro.props;

enum icons {
  "info" = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Info</title><path fill="white" fill-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2Zm0 15c-.55 0-1-.45-1-1v-4c0-.55.45-1 1-1s1 .45 1 1v4c0 .55-.45 1-1 1Zm-1-8h2V7h-2v2Z"></path><metadata>alert, announcement, assistance, details, help, i, info, information, service, support</metadata></svg>`,
  "warn" = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Warning</title><path fill-rule="evenodd" fill="white" d="M19.53 21c1.54 0 2.5-1.67 1.73-3L13.73 4.99c-.77-1.33-2.69-1.33-3.46 0L2.74 18c-.77 1.33.19 3 1.73 3h15.06ZM12 14c-.55 0-1-.45-1-1v-2c0-.55.45-1 1-1s1 .45 1 1v2c0 .55-.45 1-1 1Zm-1 2v2h2v-2h-2Z"></path><metadata>!, alert, attention, caution, danger, error, exclamation, important, mark, notification, symbol, triangle, warning</metadata></svg>`,
  "generic" = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Stars</title><path fill-rule="evenodd" fill="white" d="M2 12C2 6.48 6.47 2 11.99 2 17.52 2 22 6.48 22 12s-4.48 10-10.01 10C6.47 22 2 17.52 2 12Zm10 3.45 3.22 1.94c.38.23.84-.11.74-.54l-.85-3.67 2.83-2.45a.5.5 0 0 0-.28-.88l-3.74-.32-1.46-3.44a.498.498 0 0 0-.92 0l-1.46 3.45-3.74.32c-.44.04-.62.59-.29.88l2.83 2.45-.85 3.66c-.1.43.37.77.75.54L12 15.45Z"></path><metadata>achievement, bookmark, circle, favorite, highlight, important, marked, ranking, rate, rating rank, reward, save, saved, shape, special, star</metadata></svg>`,
}
---

<div class="hightlight">
  <i>
    <Fragment set:html={icons[type]} />
  </i>
  <p>
    <slot />
  </p>
</div>

<style lang="scss">
  @import "../styles/variables.scss";

  .hightlight {
    display: flex;
    padding: 0.66em 1.8em 0.66em 1.8em;
    border-radius: 6px;
    background: rgba($accent-light, 5%);

    i {
      font-style: normal;
      align-self: center;
      margin-right: 1em;
      width: 25px;
      min-width: 25px;
      height: 25px;

      svg path {
        fill: white;
      }
    }

    p {
      border-left: 1px solid rgba(255, 255, 255, 5%);
      padding-left: 1em;
      line-height: 1.5;
    }
  }
</style>
