---
interface Props {
  href: string;
  icon?: "true";
}

import linkIcon from "../assets/img/link.svg?raw";

let { href, icon } = Astro.props;
const hasChildren = Astro.slots.has("default");
---

<a href={href}>
  <span class="text">{hasChildren ? <slot /> : href}</span>
  {
    icon && (
      <span class="icon" aria-hidden="true">
        <Fragment set:html={linkIcon} />
      </span>
    )
  }
</a>

<style lang="scss">
  @import "../styles/variables.scss";
  @import "../styles/mixins.scss";

  a {
    text-decoration: none;

    &::before {
      font-size: 1.3rem;
      transition: 0.3s ease;
      color: $accent-light-alt;
      text-decoration: underline;
    }

    &:hover::before {
      color: $accent-alt;
    }

    .text {
      font-size: 1.3rem;
      transition: 0.3s ease;
      color: $accent-light-alt;
      text-decoration: underline;

      &:hover {
        color: $accent-alt;
      }
    }

    .icon {
      width: 10px;
      margin-left: 2px;
      display: inline-block;
    }
  }
</style>
