---
interface Props {
  href: string;
}

let { href } = Astro.props;
import linkIcon from "../assets/img/link.svg?raw";
---

<a href={href}>
  <span><slot /></span>
  <span class="icon"><i><Fragment set:html={linkIcon} /></i></span>
</a>

<style lang="scss">
  @import "../styles/variables.scss";

  a span:first-child {
    font-size: 1.3rem;
    transition: 0.3s ease;
    color: $accent-light-alt;
    text-decoration: underline;
  }

  a:hover span:first-child {
    color: $accent-alt;
  }

  .icon {
    width: 10px;
    margin: 0 4px 0 6px;
    display: inline-block;
  }
</style>
