---
interface Props {
  href: string;
  empty?: string;
}

let { href, empty } = Astro.props;
import linkIcon from "../assets/img/link.svg?raw";
---

<a href={href} data-empty-link-text={empty}>
  <span class="text"><slot /></span>
  <span class="icon" aria-hidden="true"><Fragment set:html={linkIcon} /></span>
</a>

<style lang="scss">
  @import "../styles/variables.scss";

  a {
    text-decoration: none;

    &::before {
      font-size: 1.3rem;
      transition: 0.3s ease;
      color: $accent-light-alt;
      text-decoration: underline;
    }

    &:hover::before {
      color: $accent-alt;
    }

    .text {
      font-size: 1.3rem;
      transition: 0.3s ease;
      color: $accent-light-alt;
      text-decoration: underline;

      &:hover {
        color: $accent-alt;
      }
    }

    .icon {
      width: 10px;
      margin: 0 2px 0 2px;
      display: inline-block;
    }
  }
</style>
