---
import type { SupportedLocale } from "../types/types";

interface Props {
  locale?: SupportedLocale;
}

import sparkles from "../assets/img/sparkles.png";
import { Image } from "astro:assets";

const { locale = "en" } = Astro.props;
---

<h1 class="plus-equal">
  {
    locale === "en" && (
      <span>Smooth UI&nbsp; + &nbsp;Mindful UX&nbsp; =&nbsp;</span>
    )
  }
  {
    locale === "es" && (
      <span>UI concisa&nbsp; + &nbsp;UX con consciencia&nbsp; =&nbsp;</span>
    )
  }
  <span class="sparkles">
    <Image loading="eager" src={sparkles} alt="Sparkles" />
  </span>
</h1>

<style lang="scss">
  @import "../styles/mixins.scss";

  .plus-equal {
    margin: 5rem auto 0 auto;
    transform: rotateZ(1deg);
    text-align: center;

    .sparkles img {
      vertical-align: middle;
      height: 3rem;
      width: 3rem;
      padding-bottom: 8px;
    }

    @include respond-to(xmd) {
      max-width: 280px;
    }
  }
</style>
