---
import GaleLogo from "../assets/img/gale-logo.svg?raw";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<aside>
  <div class="gale-logo">
    <Fragment set:html={GaleLogo} />
  </div>
  <div class="menu-list">
    <a class={currentPath === "" ? "active" : ""} href="/">home</a>
    <a class={currentPath === "about" ? "active" : ""} href="/about">about</a>
    <a class={currentPath === "blog" ? "active" : ""} href="/blog">blog</a>
    <a class={currentPath === "links" ? "active" : ""} href="/links">links</a>
  </div>
</aside>

<style>
  aside {
    min-width: 80px;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding-right: 50px;
  }

  a {
    color: white;
    background: none;
    border: none;
    text-decoration: none;
  }

  a:hover,
  .active {
    font-weight: 700;
  }

  .menu-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    gap: 1rem;
  }

  .gale-logo {
    width: 100px;
  }
</style>
