---
import GaleLogo from "../assets/img/gale-logo.svg?raw";

interface Link {
  href: string;
  text: string;
}

const links: Link[] = [
  { href: "/", text: "home" },
  { href: "/about/", text: "about" },
  { href: "/blog/", text: "blog" },
  { href: "/links/", text: "links" },
];
---

<aside>
  <div class="gale-logo">
    <Fragment set:html={GaleLogo} />
  </div>
  <nav class="menu-list">
    {
      links.map(({ href, text }) => (
        <a
          href={href}
          class={href === Astro.url.pathname ? "active" : ""}
          data-astro-history="replace"
        >
          {text}
        </a>
      ))
    }
  </nav>
</aside>

<script>
  document.addEventListener("astro:page-load", () => {
    const nav = document.querySelector(".menu-list");
    const items = nav.querySelectorAll("a");
    const currentPathname = window.location.pathname;
    let currentIndex = 0;

    for (let i = 0; i < items.length; i++) {
      if (items[i].pathname === currentPathname) {
        currentIndex = i;
        break;
      }
    }

    const focusItem = (index: number) => {
      items[index].focus();
    };

    const handleNavigation = (event: KeyboardEvent) => {
      if (event.key === "j") {
        currentIndex = Math.min(currentIndex + 1, items.length - 1);
        focusItem(currentIndex);
      } else if (event.key === "k") {
        currentIndex = Math.max(currentIndex - 1, 0);
        focusItem(currentIndex);
      } else if (event.key === "o") {
        items[currentIndex].classList.remove("focus");
        items[currentIndex].click();
      }
    };

    document.addEventListener("keydown", handleNavigation);
  });
</script>

<style>
  aside {
    min-width: 80px;
    max-width: 80px;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding-right: 50px;
  }

  a {
    color: white;
    background: none;
    border: none;
    text-decoration: none;
    transition: none;
    font-size: 1.2rem;
  }

  a:hover,
  a.active {
    color: white;
    font-weight: 700;
  }

  a:focus,
  a:focus-visible {
    outline: none;
  }

  a:focus:before,
  a:focus-visible:before {
    outline-offset: 0px;
    outline-color: transparent;
    content: "> ";
  }

  a.active:before {
    content: "> ";
  }

  .menu-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    gap: 1rem;
  }

  .gale-logo {
    transform: perspective(1500px) rotateY(15deg) rotateX(10deg);
    transition: transform 1s ease;
    width: 100px;
  }

  .gale-logo:hover {
    cursor: pointer;
    transform: perspective(3000px) rotateY(5deg) scale(1.1);
  }
</style>
