---
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import { formatDate } from "../../utils/utils";
import type { UILocale } from "../../utils/utils";
import Layout from "../../layout/Layout.astro";
import BlogPost from "../../components/BlogPost.astro";

const entries = await getCollection("blog_es");
const locale = Astro.currentLocale;
---

<Layout title="Blog">
  <div aria-labelledby="blog">
    <ul>
      {
        entries.map((entry) => {
          return (
            <BlogPost
              href={getRelativeLocaleUrl("es", `/blog/${entry.slug}`)}
              title={entry.data.title}
              date={formatDate(locale as UILocale, entry.data.pubDate)}
            />
          );
        })
      }
    </ul>
  </div>
</Layout>

<style lang="scss">
  ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
</style>
