---
import Layout from "../../layout/Layout.astro";
import Link from "../../components/Link.astro";
import Toolbar from "../../components/Toolbar.astro";
import UserAlias from "../../components/UserAlias.astro";
import GluedComma from "../../components/GluedComma.astro";
import LogoHoverGlow from "../../components/LogoHoverGlow/LogoHoverGlow";
---

<Layout title="mgastonportillo">
  <div aria-labelledby="home">
    <div class="wrapper-header">
      <h1 class="welcome">bienvenido/a, <UserAlias locale="es" /></h1>

      <Toolbar />
    </div>

    <p>
      Te saluda <em>Gale</em> (o Gastón, como prefieras).
    </p>

    <br />
    <p>
      Un <em>desarrollador web creativo</em> comprometido con crear experiencias
      <em>únicas y libres de distracciones</em>.
    </p>

    <p>
      Inspirado por los principios de
      <Link href="https://calmtech.com/">calm technology</Link>
      <GluedComma /> diseño páginas web que se caracterizan por su navegación intuitiva
      y respeto por el usuario, sin sacrificar el toque distintivo.
    </p>

    <LogoHoverGlow client:only="react" />
  </div>
</Layout>

<style lang="scss">
  @import "../../styles/mixins.scss";

  body {
    overflow: hidden;
  }

  .wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  em {
    @include accent-gradient(0deg);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: background 10s ease infinite;
  }
</style>
