---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import Sidebar from "../components/Sidebar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Facebook meta tags -->
    <meta property="og:url" content="https://mgastonportillo.vercel.app" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Gastón, a creative web developer" />
    <meta property="og:description" content="Welcome to my Blogfolio!" />
    <meta property="og:image" content="/img/thumbnail.jpg" />
    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="mgastonportillo.vercel.app" />
    <meta property="twitter:url" content="https://mgastonportillo.vercel.app" />
    <meta name="twitter:title" content="Gastón, a creative web developer" />
    <meta name="twitter:description" content="Welcome to my Blogfolio!" />
    <meta name="twitter:image" content="/img/thumbnail.jpg" />
    <!-- Local meta tags -->
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href="https://use.typekit.net/wwa2fwb.css" />
    <ViewTransitions />
  </head>

  <body>
    <Sidebar />

    <section transition:animate="slide">
      <slot />
    </section>

    <style is:global lang="scss">
      @import "../styles/variables.scss";

      html {
        font-family: "marine", system-ui, sans-serif;
        background: $bg;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      body {
        padding: 10rem;
        width: 960px;
        max-width: 960px;
        display: flex;
      }

      section {
        min-width: 480px;
        width: 100%;
      }

      h1 {
        color: white;
        font-size: 2rem;
      }

      h2,
      h3,
      li,
      p {
        font-size: 1.3rem;
        color: white;
      }

      a {
        font-size: 1.3rem;
      }

      i {
        font-style: normal;
      }

      em {
        font-style: normal;
        font-weight: bold;
      }

      code,
      kbd {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      ul {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        gap: 1em;

        li {
          color: white;
          padding-bottom: 0.75em;
          border-bottom: 1px solid rgba(white, 0.05);

          p {
            margin-block: 0;
            line-height: 1;
          }

          &:last-child {
            border-bottom: none;
          }

          &::marker {
            content: "";
            display: none;
          }
        }
      }

      .no-icon:after {
        display: none;
      }

      .alt-font {
        font-family:
          "cantarell",
          Cantarell,
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          "Open Sans",
          "Helvetica Neue",
          sans-serif;
      }
    </style>
  </body>
</html>
