---
import { getRelativeLocaleUrl } from "astro:i18n";
import Layout from "./Layout.astro";
import { formatDate } from "../utils/utils.ts";
import type { UILocale } from "../utils/utils.ts";

const { frontmatter } = Astro.props;
const locale = Astro.currentLocale?.toString()!;
---

<Layout title={frontmatter.title}>
  <a href={getRelativeLocaleUrl(locale, "/blog/")}>&#60; posts</a>
  <p>{formatDate(locale as UILocale, frontmatter.pubDate)}</p>
  <div class="md-wrapper">
    <slot />
  </div>
</Layout>

<style lang="scss">
  @import "../styles/mixins.scss";

  a {
    color: white;
    text-decoration: none;
    position: absolute;
    top: 8rem;

    @include respond-to(sm) {
      top: 0;
      position: relative;
      font-size: 1.5rem;
    }

    &:before:hover {
      content: "< ";
    }

    &:hover {
      font-weight: bold;
    }
  }

  p {
    color: darkgrey;
  }
</style>

<style lang="scss" is:global>
  @import "../styles/variables.scss";

  .md-wrapper {
    hr {
      border-color: rgba(255, 255, 255, 0.05);
    }

    .foot-notes {
      margin-top: 4rem;
    }
  }
</style>
